## Namespace for RXMCDA

importFrom(Rglpk, Rglpk_solve_LP)
importFrom(Kendall, Kendall)
import(glpkAPI)

## Generics and functions defined in this package
export(
  "additiveValueFunctionElicitation",
  "MRSort",
  "MRSortInference",
  "MRSortIdentifyIncompatibleAssignments",
  "UTA",
  "UTASTAR",
  "UTADIS",
  "weightedSum",
  
  "applyPiecewiseLinearValueFunctionsOnPerformanceTable",
  "assignAlternativesToCategoriesByThresholds",
  "normalizePerformanceTable",
  
  "plotMRSortSortingProblem",
  "plotPiecewiseLinearValueFunctions",
  "plotRadarPerformanceTable"
)

