## Namespace for RXMCDA

importFrom(Rglpk, Rglpk_solve_LP)
importFrom("grDevices", "palette", "rainbow")
importFrom("graphics", "arrows", "axis", "layout", "legend", "lines","par", "plot", "plot.new", "points", "text", "title", "polygon")
importFrom("stats", "runif")
importFrom("methods", "new")
importFrom("stats", "cor")
import(glpkAPI)
import(RColorBrewer)
## import(combinat)

## Generics and functions defined in this package
export(
  "additiveValueFunctionElicitation",
  "AHP",
  "MARE",
  "LPDMRSort",
  "LPDMRSortInferenceExact",
  "LPDMRSortIdentifyIncompatibleAssignments",
  "MRSort",
  "MRSortInferenceExact",
  "MRSortInferenceApprox",
  "MRSortIdentifyIncompatibleAssignments",
  "pairwiseConsistencyMeasures",
  "SRMP",
  "SRMPInference",
  "SRMPInferenceFixedLexicographicOrder",
  "SRMPInferenceFixedProfilesNumber",
  "SRMPInferenceNoInconsist",
  "SRMPInferenceNoInconsistFixedLexicographicOrder",
  "SRMPInferenceNoInconsistFixedProfilesNumber",
  "TOPSIS",
  "UTA",
  "UTASTAR",
  "UTADIS",
  "weightedSum",
  
  "applyPiecewiseLinearValueFunctionsOnPerformanceTable",
  "assignAlternativesToCategoriesByThresholds",
  "normalizePerformanceTable",
  
  "plotMARE",
  "plotMRSortSortingProblem",
  "plotPiecewiseLinearValueFunctions",
  "plotRadarPerformanceTable",
  "plotAlternativesValuesPreorder"
)

